{% extends 'base.html' %}
{% block title %} Detail  {% endblock%}

{% block body %}
<div class="container-fluid">
  <div class="row">
  <div class="col-md-3">
  </div>
    <div class="col-md-4" >
      <h3> Item Details:</h3>
      <table class ="table table-striped" style="margin-top:92px;">
        <thead>
        </thead>
        <tbody>
          <tr>
          <td> <mark> Name: </mark></td>
          <td> {{item.name}}</td>
          </tr>
          <tr>
          <td> <mark> Price: </mark></td>
          <td> {{item.marked_price}}</td>
          </tr>
          <tr>
          <td> <mark>Description: </mark></td>
          <td> {{item.description}}</td>
          </tr>
        </tbody>
      </table>

      <p> delivers within a week of order</p>
      <a href={% url "buy" item.id %}><button type="button" class="btn btn-primary"> Buy Now</button></a>
      <a><button type="button" class="btn btn-primary disabled"> Add to cart</button></a>

      <div class="">
        <br>
        <br>
        <h4> Reviews :</h4>
      </div>

    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="{{item.image.url}}" height="500px"></img>
    </div>


  </div>
</div>

{% endblock %}
